<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body onload="funksioni()">
    <center>
        <div style="margin-top:5%">
            <h1>Verifikoni llogarine ne emailin tuaj</h1>
            <p>Do te redirect-ohi per <span id="seconds">7</span></p>
        </div>
    </center>

    <script>
        function funksioni() {
            let seconds = document.getElementById('seconds').innerHTML
            seconds = parseInt(seconds)
            setInterval(() => {
                seconds -= 1
                document.getElementById('seconds').innerHTML = seconds

                if (seconds < 1) {
                    location.replace("http://localhost:3000/login")
                }
            }, 1000)
        }
    </script>
</body>

</html>